.shop__item {
  position: relative;
  transition: all .3s ease;
}
.btn__view-product {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  opacity: .8;
  width: 90%;
  height: 50px;
  font-size: 18px;
  padding-top: 10px;
  text-align: center;
}
