.benefits__container {
  background-color: #787C63;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.benefits__title {
  padding: 20px 0;
  font-weight: 700;
  font-size: 55px;
  line-height: 40px;
  text-transform: uppercase;
  color: #FFFEF3;
  letter-spacing: 3px;
}
.benefits__text {
  font-weight: 200;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: #FFFEF3;
  max-width: 500px;
  padding: 20px 0px;
}
.benefits__icons {
  display: flex;
  gap: 100px;  
}
.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  transition: all .3s ease;
}
.benefits__img {
  width: 52px;
  height: 65px;
}
.benefits__tag {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFEF3;
}
.benefits__learnMore {
  margin-top: 30px  ;
  color: #FFFEF3;
  border: #C6C6BD 1px solid;
  width: 200px;
  height: 60px;
  padding-top: 15px;
  text-align: center;
  transition: all .3s ease;
}
.benefits__learnMore:hover {
  border: none;
  color: white;
  background-color: black;
  transform: translateY(5px);
}
.benefits__learnMore:active {
  transform: scale(.9);
}
.benefits__item:hover {
  transform: scale(1.2);
}
@media (max-width: 950px) {
  .benefits__container {
    height: 700px;
  }
  .benefits__icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: 760px) {
  .benefits__title {
    padding: 20px 20px;
    font-size: 40px;
  }
  .benefits__icons {
    justify-content: space-around;
  }
}
@media (max-width: 600px) {
  .benefits__container {
    height: 800px;
  }
  
  .benefits__title {
    text-align: center;
    line-height: 60px;
  }
  .benefits__learnMore {
    width: 80%;
  }  
}
@media (max-width: 400px) {
  .benefits__container {
    height: 900px;
  }
}